{% extends "firstapp/home.html" %}
{% block content %}
{% load static %}
<style>
    .bimg{
        background-image: url("{% static 'img/profile.jpg' %}");
  background-repeat: no-repeat;
height: 500px;

    } 
</style>
<div style="padding-top: 55px;">
    <center><div class = "bimg">
<form method="POST">
    {% csrf_token %}

<br>


<h3>Review</h3>

<input type="text" name="name"   value="{{ user.username }}"/>
<br>
<input type="text" name= "ename" value = " {{event.ename}} "/>
<br>
    <input type="text" name="story" />
<br>
<input type="number" name="rate" />
<br>
    
<button type="submit" >Update</button>

</form>
</div>
</center>
</div>

{% endblock %}