{% extends "firstapp/home.html" %}
        {% block content %}
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
        .container {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .container {
      text-align: center;
  }
  .container img {
      margin: auto;
      float: none;
      display: block;
  }
}

        </style>

<div style="padding-top: 100px" class="small-container">
       
            {% for rev in rev %}
            
            
            <div class="container">
              <img src="/w3images/bandmember.jpg" alt="Avatar" style="width:90px">
              <p><span></span> CEO at Mighty Schools.</p>
              <p>John Doe saved us from a web disaster.</p>
            </div>
            
           
           
            
              {% endfor %}
             
           
</div>
        {% endblock %}